.container {
  height: 2rem;
  display: flex;
  line-height: 2rem;
  justify-content: space-between;
  padding: 0 1rem;
}

.checkmarkOuter {
  width: 2rem;
  position: relative;
  cursor: pointer;
  padding: 0.625rem;
  border-left: 1px solid var(--main-neutral-color);
}

.checkmark {
  position: relative;
  display: flex;
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
  border: 1px solid var(--main-neutral-color);
  border-radius: 50%;
}

.label {
  padding-left: 1rem;
  cursor: pointer;
  /* border-left: 1px solid var(--main-neutral-color); */
  text-align: left;
  font-size: 0.85rem;
}

.checkmarkSelectedRed {
  position: relative;
  margin: auto;
  background-color: var(--main-red-color);
  width: 0.5rem;
  height: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
}

.checkmarkSelectedBlue {
  position: relative;
  margin: auto;
  background-color: var(--main-blue-color);
  width: 0.5rem;
  height: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
}

.checkmarkSelectedYellow {
  position: relative;
  margin: auto;
  background-color: var(--main-yellow-color);
  width: 0.5rem;
  height: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
}

.checkmarkSelectedCyan {
  position: relative;
  margin: auto;
  background-color: var(--main-cyan-color);
  width: 0.5rem;
  height: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
}
