/* MAIN CONTAINER */

.mainContainer {
  display: flex;
  height: 5rem;
  width: 100%;
}

.filterSwitch {
  text-align: center;
  padding: 0.75rem;
  color: var(--main-neutral-color);
  font-weight: bold;
  /* font-size: 0.5rem;filterSwitch */
}

/* MY DROPDOWN */

/* Dropdown Opener-Closer */

.drowdownWrapper {
  position: relative;
  width: 15rem;
  margin: auto;
  z-index: 5;
}

.categoriesDropdown {
  height: 3rem;
  width: 100%;
  background-color: white;
  border: 1px solid var(--main-neutral-color);
  cursor: pointer;
  /* margin: auto; */
}

.containerOpener {
  display: flex;
  height: 100%;
  line-height: 3rem;
}

.containerOpenerLabel {
  width: 15rem;
  text-align: center;
  font-weight: bold;
}

.containerOpenerArrow {
  position: relative;
  width: 3rem;
  /* width: 20%; */
  padding: 1rem 0.75rem;
}

.arrowUp {
  position: relative;
  width: 0;
  height: 0;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;

  border-bottom: 0.75rem solid var(--main-neutral-color);
}

.arrowDown {
  position: relative;
  width: 0;
  height: 0;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;

  border-top: 0.75rem solid var(--main-neutral-color);
}

/* Dropdown Category Items */

.intruction {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* text-decoration: underline; */
}

.categoriesList {
  width: 15rem;
  /* width: 100%; */
  height: 40rem;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid var(--main-neutral-color);
  position: absolute;
  overflow-y: scroll;
  z-index: 6;
  margin: auto;
}

.container {
  height: 2.5rem;
  display: flex;
  line-height: 2.5rem;
  /* position: relative;
  z-index: 5; */
}

.checkmarkOuter {
  width: 2rem;
  position: relative;
  cursor: pointer;
  padding: 0.75rem;
  padding-left: 0.5rem;
}

.checkmark {
  position: relative;
  display: flex;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  border: 1px solid var(--main-neutral-color);
  border-radius: 50%;
}

.checkmarkGreyRed {
  position: relative;
  margin: auto;
  background-color: var(--main-neutral-color);
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
  /* border: 1px solid #ff6b6b; */
  border-radius: 50%;
}

.checkmarkSelectedRed {
  position: relative;
  margin: auto;
  background-color: var(--main-red-color);
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
  /* border: 1px solid #ff6b6b; */
  border-radius: 50%;
}

.checkmarkSelectedBlue {
  position: relative;
  margin: auto;
  background-color: var(--main-blue-color);
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
  /* border: 1px solid #1a535c; */
  border-radius: 50%;
}

.checkmarkSelectedYellow {
  position: relative;
  margin: auto;
  background-color: var(--main-yellow-color);
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
  /* border: 1px solid #ffd100; */
  border-radius: 50%;
}

.checkmarkSelectedCyan {
  position: relative;
  margin: auto;
  background-color: var(--main-cyan-color);
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
  /* border: 1px solid #4ecdc4; */
  border-radius: 50%;
}

.label {
  padding-left: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid var(--main-neutral-color);
  width: 100%;
  text-align: left;
  font-weight: bold;
}

/* Dropdown Dates Items */

.datesList {
  width: 15rem;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid var(--main-neutral-color);
  position: absolute;
  overflow-y: scroll;
  /* z-index: 4; */
  margin: auto;
}

/* Segnala Evento Button */

.btnPost {
  width: 70%;
  height: 3rem;
  line-height: 3rem;
  margin: auto;
  background-color: var(--main-neutral-color);
  color: white;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 0.25rem;
  border: 0px;
}

.btnPost:hover {
  background-color: white;
  border: 1px solid var(--main-neutral-color);
  color: var(--main-neutral-color);
}

.btnPost a {
  text-decoration: none;
  color: white;
}

.btnFilter {
  background-color: var(--main-neutral-color);
  color: white;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 0.25rem;
  border: 0px;
  margin: 1rem auto;
  padding: 0.25rem 2rem;
}

.btnFilter:hover {
  background-color: white;
  border: 1px solid var(--main-neutral-color);
  color: var(--main-neutral-color);
}

@media (min-width: 1201px) {
  .mainContainer {
    display: flex;
    height: 5rem;
  }

  .filterSwitch {
    font-size: 1.35rem;
    width: 100%;
    word-wrap: break-word;
    padding: 0 2rem;

    margin: auto;
    margin-top: 0.75rem;
  }

  .mainContainerSmallColumn {
    width: 33%;
    flex-grow: 1;
  }

  .mainContainerLargeColumn {
    position: relative;
    width: 67%;
    display: flex;
    flex-grow: 1;
    z-index: 1;
  }

  .largeColumnColumn {
    width: 33%;
    text-align: center;
    padding: 0.5rem;
  }

  .drowdownWrapper {
    margin-top: 0.7rem;
    font-size: 0.8rem;
  }

  .containerOpenerLabel {
    font-size: 1rem;
  }

  .label {
    padding-left: 0.5rem;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: bold;
  }

  .arrowUp {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;

    border-bottom: 0.5rem solid var(--main-neutral-color);
  }

  .arrowDown {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;

    border-top: 0.5rem solid var(--main-neutral-color);
  }

  .btnPost {
    width: 15rem;
    height: 3rem;
    line-height: 3rem;
    margin: auto;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 0.7rem;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .mainContainer {
    display: flex;
    height: 5rem;
  }

  .filterSwitch {
    font-size: 1.25rem;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    /* padding: 1rem; */
    /* line-height: 2.5rem; */
  }

  .mainContainerSmallColumn {
    width: 33%;
    flex-grow: 1;
  }

  .mainContainerLargeColumn {
    width: 67%;
    display: flex;
    flex-grow: 1;
  }

  .largeColumnColumn {
    width: 33%;
    text-align: center;
    padding: 0.5rem;
  }

  .drowdownWrapper {
    width: 12rem;
    margin: auto;
    font-size: 0.8rem;
    margin-top: 0.75rem;
  }

  .categoriesDropdown {
    height: 2.5rem;
  }

  .containerOpener {
    line-height: 2.5rem;
  }

  .containerOpenerLabel {
    width: 10rem;
  }

  .label {
    padding-left: 0.5rem;
    cursor: pointer;
    font-size: 0.65rem;
  }

  .containerOpenerArrow {
    width: 2.5rem;
    padding: 0.75rem 0.5rem;
  }

  .arrowUp {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;

    border-bottom: 0.5rem solid var(--main-neutral-color);
  }

  .arrowDown {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;

    border-top: 0.5rem solid var(--main-neutral-color);
  }

  .btnPost {
    /* width: 18rem; */
    width: 12rem;
    height: 2.5rem;
    line-height: 2.5rem;
    margin: auto;
    font-size: 0.85rem;
    font-weight: bolder;
    margin-top: 0.75rem;
  }

  /* .categoriesList {
    width: 12rem;
  } */

  .datesList {
    width: 12rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .mainContainer {
    display: flex;
    height: 4rem;
  }

  .filterSwitch {
    font-size: 1rem;
    height: 100%;
  }

  .mainContainerSmallColumn {
    width: 33%;
  }

  .mainContainerLargeColumn {
    width: 67%;
    display: flex;
  }

  .largeColumnColumn {
    width: 33%;
    text-align: center;
    /* padding: 0.5rem; */
  }

  .drowdownWrapper {
    width: 8rem;
    margin: auto;
    font-size: 0.75rem;
    margin-top: 1rem;
  }

  .categoriesDropdown {
    height: 2rem;
  }

  .containerOpener {
    line-height: 2rem;
  }

  .containerOpenerLabel {
    width: 6rem;
  }

  .containerOpenerArrow {
    position: relative;
    width: 2rem;
    padding: 0.625rem 0.5rem;
  }

  .arrowUp {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;

    border-bottom: 0.5rem solid var(--main-neutral-color);
  }

  .arrowDown {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;

    border-top: 0.5rem solid var(--main-neutral-color);
  }

  /* Segnala Evento Button */

  .btnPost {
    /* width: 18rem; */
    width: 9rem;
    height: 2rem;
    line-height: 2rem;
    margin: auto;
    font-size: 0.65rem;
    font-weight: bolder;
    margin-top: 1rem;
  }
}
