.filterSwitch {
  /* background-color: navy; */
  text-align: center;
  padding: 0.75rem;
  color: #616161;
  /* cursor: pointer; */
  border-top: 1px solid #616161;
  font-size: 0.75rem;
}

/* MIO DROPDOWN CHE ME SON ROTTO I COJONI */

.categoriesDropdown {
  cursor: pointer;
}

.categoriesList {
  background-color: aliceblue;
  position: absolute;
  z-index: 4;
}

@media (min-width: 768px) {
  .filterSwitch {
    font-size: 1.25rem;
  }
}
