.container {
  /* display: flex; */
  margin: 1rem auto;
  width: 95%;
  /* padding: 0 1.25rem; */
}

.date {
  font-size: 1.25rem;
  font-weight: bold;
  width: 95%;
  margin: auto;
  text-align: center;
  /* padding: 0 1.25rem; */
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* justify-content: space-evenly; */
  }

  .date {
    text-align: left;
  }
}
