.pageWrapper {
  text-align: center;
  padding: 1rem;
  color: var(--main-neutral-color);
}

.title {
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 2.25rem;
}

.question {
  font-style: italic;
}

.answer {
  font-size: 1.25rem;
}

.image {
  margin-top: 1.5rem;
  width: 30%;
  object-fit: cover;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .image {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .answer {
    width: 80%;
  }

  .image {
    width: 75%;
  }
}
