/* MAIN CONTAINER */

.mainContainerSmallColumn {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.containerFilterSwitch {
  /* width: 85%; */
  text-align: center;
  padding: 0.75rem;
  color: #616161;
  font-weight: bold;
}

.containerFilterSwitchArrow {
  position: relative;
  width: 4rem;
  /* padding: 5%; */
}

.filterSwitchArrowUp {
  position: relative;
  /* margin: 2rem; */
  width: 0;
  height: 0;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;

  border-bottom: 0.75rem solid #616161;
}

.filterSwitchArrowDown {
  position: relative;
  /* margin: 2rem; */
  width: 0;
  height: 0;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;

  border-top: 0.75rem solid #616161;
}

/* MY DROPDOWN */

/* Dropdown Opener-Closer */

.drowdownWrapper {
  width: 15rem;
  margin: auto;
}

.categoriesDropdown {
  height: 3rem;
  width: 100%;
  background-color: white;
  border: 1px solid #616161;
  cursor: pointer;
  /* margin: auto; */
}

.containerOpener {
  display: flex;
  height: 100%;
  line-height: 3rem;
}

.containerOpenerLabel {
  width: 15rem;
  text-align: center;
  font-weight: bold;
}

.containerOpenerArrow {
  position: relative;
  width: 3rem;
  /* width: 20%; */
  padding: 50% 0.75rem;
}

.arrowUp {
  position: relative;
  width: 0;
  height: 0;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;

  border-bottom: 0.75rem solid #616161;
}

.arrowDown {
  position: relative;
  width: 0;
  height: 0;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;

  border-top: 0.75rem solid #616161;
}

/* Dropdown Category Items */

.categoriesList {
  width: 15rem;
  /* width: 100%; */
  height: 40rem;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid #616161;
  position: absolute;
  overflow-y: scroll;
  z-index: 4;
  margin: auto;
}

.container {
  height: 2.5rem;
  display: flex;
  line-height: 2.5rem;
}

.checkmarkOuter {
  width: 2rem;
  position: relative;
  cursor: pointer;
  padding: 0.75rem;
  padding-left: 0.5rem;
}

.checkmark {
  position: relative;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  border: 1px solid #616161;
  border-radius: 50%;
}

.checkmarkSelectedRed {
  position: relative;
  background-color: #ff6b6b;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  border: 1px solid #ff6b6b;
  border-radius: 50%;
}

.checkmarkSelectedBlue {
  position: relative;
  background-color: #1a535c;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  border: 1px solid #1a535c;
  border-radius: 50%;
}

.checkmarkSelectedYellow {
  position: relative;
  background-color: #ffd100;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  border: 1px solid #ffd100;
  border-radius: 50%;
}

.checkmarkSelectedCyan {
  position: relative;
  background-color: #4ecdc4;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  border: 1px solid #4ecdc4;
  border-radius: 50%;
}

.label {
  padding-left: 0.5rem;
  cursor: pointer;
}

/* Dropdown Dates Items */

.datesList {
  width: 15rem;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid #616161;
  position: absolute;
  overflow-y: scroll;
  z-index: 4;
  margin: auto;
}

/* Segnala Evento Button */

.btnPost {
  /* width: 18rem; */
  width: 70%;
  height: 3rem;
  line-height: 3rem;
  margin: auto;
  background-color: #616161;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 0.25rem;
}

.btnPost:hover {
  background-color: white;
  border: 1px solid #616161;
  color: #616161;
}

@media (max-width: 820px) {
  .mainContainerLargeColumn {
    /* width: 67%; */
    display: flex;
    /* padding: 0.25rem; */
  }

  .largeColumnColumn {
    width: 50%;
    text-align: center;
    padding: 0.25rem;
  }

  .drowdownWrapper {
    width: 8rem;
    /* margin: auto; */
    font-size: 0.75rem;
    /* margin-top: 1rem; */
  }

  .categoriesDropdown {
    height: 2rem;
  }

  .containerOpener {
    line-height: 2rem;
  }

  .containerOpenerArrow {
    position: relative;
    width: 2rem;
    padding: 0.625rem 0.5rem;
  }

  .arrowUp {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;

    border-bottom: 0.5rem solid #616161;
  }

  .arrowDown {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;

    border-top: 0.5rem solid #616161;
  }

  .datesList {
    width: 9.5rem;
  }

  .largeColumnBtn {
    padding: 0.5rem;
  }

  .btnPost {
    /* display: none; */
    width: 50%;
    height: 2rem;
    line-height: 2rem;
    /* margin: auto; */
    font-size: 0.7rem;
    text-align: center;
    word-wrap: break-word;
    font-weight: bolder;
  }
}
