.header {
  width: 100%;
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: baseline;
  /* padding: 1rem 5%; */
  /* height: 15rem; */
  /* background-color: navy; */
  /* opacity: 0.5; */
  text-align: center;
  justify-content: center;
  /* box-shadow: 0 0 1rem; */
}

.CTAcontainer {
  display: flex;
  justify-content: space-between;
}

.btnContainer {
  text-align: right;
  padding: 0 0 0.6rem 0;
}

.btnPost {
  background-color: var(--main-neutral-color);
  /* text-decoration: underline; */
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.35rem 0.5rem;
  /* font-weight: bolder; */
  border-radius: 0.25rem;
  font-size: 0.7rem;
  /* margin-right: -1.5rem; */
}

.logo {
  font-size: 1.5rem;
  /* font-family: 'Fira', sans-serif; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 110px;
  cursor: pointer;
}

.slogan {
  font-size: 1rem;
  /* font-family: 'Fira', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
}

.logo a {
  text-decoration: none;
  color: navy;
}

.slogan a {
  text-decoration: none;
  color: navy;
}

.navigation a {
  text-decoration: none;
  color: #74dacc;
  font-size: 1rem;
}

.icon {
  height: 0.5rem;
}

@media (min-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }

  .navigation a {
    font-size: 1.5rem;
  }

  .logo img {
    height: 130px;
  }
}
