.container {
  width: 95%;
  margin: auto;
  color: var(--main-neutral-color);
}

.row {
  display: flex;
  justify-content: space-between;
}

.underlined {
  text-decoration: underline;
  cursor: pointer;
}

.title {
  width: 100%;
  text-align: center;
}
