@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

.btn {
  background-color: var(--main-neutral-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
    0 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: white;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.75rem;
  /* margin: auto; */
  /* cursor: pointer; */
  font-family: 'Comfortaa', cursive;
}

.btn:hover {
  background-color: white;
  color: var(--main-neutral-color);
  border: 1px solid var(--main-neutral-color);
}

@media (max-width: 768px) {
  .btn {
    padding: 0.5rem 0.5rem;
    font-size: 0.85rem;
    border-radius: 0.25rem;
  }
}
