.btn {
  background-color: var(--main-neutral-color);
  font-weight: bold;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.75rem;
  /* cursor: pointer; */
}

.btn:hover {
  background-color: white;
  color: var(--main-neutral-color);
  border: 1px solid var(--main-neutral-color);
}

@media (max-width: 768px) {
  .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.85rem;
    border-radius: 0.25rem;
  }
}
