.colMap {
  width: 50%;
  flex-grow: 1;
  padding: 1.5rem;
}

@media (max-width: 820px) {
  .colMap {
    width: 100%;
    /* flex-grow: 1; */
    /* background-color: #616161; */
    /* padding: 0; */
  }
}
