:root {
  --main-neutral-color: #616161;
  --main-red-color: #ff6b6b;
  --main-blue-color: #1a535c;
  --main-yellow-color: #ffd100;
  --main-cyan-color: #4ecdc4;
}

body {
  font-family: 'Comfortaa', cursive;
}

.mainAppContainer {
  /* display: flex; */
  /* padding: 2rem; */
}

.appRow {
  display: flex;
  width: 100%;
}

/* SUPERCLUSTERS */
.cluster-marker {
  color: #fff;
  /* background: #1978c8; */
  background: #616161;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
