@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
  --main-neutral-color: #616161;
  --main-red-color: #ff6b6b;
  --main-blue-color: #1a535c;
  --main-yellow-color: #ffd100;
  --main-cyan-color: #4ecdc4;
}

body {
  font-family: 'Comfortaa', cursive;
}

.appRowBlock {
  /* display: flex; */
  width: 100%;
}

.appRowFlex {
  display: flex;
  width: 100%;
}

/* SUPERCLUSTERS */
.cluster-marker {
  color: #fff;
  /* background: #1978c8; */
  background: #616161;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.posta-evento {
  padding: 2rem;
}

.posta-evento h6 {
  font-size: 1.5rem;
  font-weight: bolds;
  /* text-decoration: underline; */
}

.span-bold {
  font-weight: bold;
}

/* ADMIN DASHBOARD */
.headers {
  text-align: center;
  padding-top: 2rem;
}

.headers-hover {
  text-align: center;
  padding-top: 2rem;
  cursor: pointer;
}

.headers-hover:hover {
  color: red;
  font-weight: bold;
  /* width: fit-content; */
}

/* ------------ */
/*   EVENT ID   */
/* ------------ */

.eventIDpageWrapper {
  text-align: center;
  margin: auto;
  padding: 1rem;
  color: var(--main-neutral-color);
  width: 90%;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.eventIDtitle {
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 2.25rem;
}

.eventIDquestion {
  font-style: italic;
}

.eventIDanswer {
  font-size: 1.25rem;
}

.eventIDanswer a {
  width: 50%;
}

.eventIDimage {
  margin-top: 1.5rem;
  width: 30%;
  object-fit: cover;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .eventIDimage {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .eventIDanswer {
    width: 100%;
  }

  /* .answer a {
    width: 50%;
  } */

  .eventIDimage {
    width: 75%;
  }
}
