:root {
  --main-neutral-color: #616161;
  --main-red-color: #ff6b6b;
  --main-blue-color: #1a535c;
  --main-yellow-color: #ffd100;
  --main-cyan-color: #4ecdc4;
}

body {
  font-family: 'Comfortaa', cursive;
}

.appRow {
  display: flex;
  width: 100%;
}

/* SUPERCLUSTERS */
.cluster-marker {
  color: #fff;
  /* background: #1978c8; */
  background: #616161;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.posta-evento {
  padding: 2rem;
}

.posta-evento h6 {
  font-size: 1.5rem;
  font-weight: bolds;
  /* text-decoration: underline; */
}

.span-bold {
  font-weight: bold;
}

/* ADMIN DASHBOARD */
.headers {
  text-align: center;
  padding-top: 2rem;
}

.headers-hover {
  text-align: center;
  padding-top: 2rem;
  cursor: pointer;
}

.headers-hover:hover {
  color: red;
  font-weight: bold;
  /* width: fit-content; */
}
