.container {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  text-align: center;
  margin: 1rem;
}

.field {
  padding: 1rem 0;
}

.label {
  display: block;
}

.input {
  display: block;
  width: 90%;
  margin: auto;
}

.spanLink {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.link {
  text-decoration: underline;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: bold;
}

.link:hover {
  color: red;
}

.input-error {
  color: red;
  font-size: 0.75rem;
}

.input-invalid {
  display: block;
  width: 90%;
  margin: auto;
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.input-invalid:focus {
  display: block;
  width: 90%;
  margin: auto;
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.small-text {
  font-size: 0.85rem;
}

@media (min-width: 768px) {
  .container {
    margin: 1rem auto;
    width: 50%;
  }
}
