.container {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  text-align: center;
  margin: 1rem;
}

.flex-row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.field {
  padding: 1rem 0;
}

.label {
  display: block;
}

.input {
  display: block;
  width: 90%;
  margin: auto;
}

.spanLink {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 768px) {
  .container {
    margin: 1rem auto;
    width: 50%;
  }
}
